version: "3.8"
services:
  # app:
  #   build: .
  #   ports:
  #     - "3000:3000"  # Adjust according to your app's port
  #   volumes:
  #     - .:/app
  #   working_dir: /app
  #   command: npm run dev
  #   depends_on:
  #     - db  
  #     - redis
  #   env_file:
  #     - .env

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: corndog_kane
    # volumes:
      # - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    environment:
      - REDIS_PASSWORD=password
    ports:
      - "6379:6379"